{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Pedidos Abertos</h1>
</div>
<div class="cotainer">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Cliente</th>
      <th>Data de Envio</th>
      <th>Forma de Envio</th>
      <th>Ações</th>
    </thead>
    <tbody>
      {% for pedido in pedidos %}
      <tr>
        <td>{{pedido['idd']}}</td>
        <td>{{pedido['name_client']}}</td>
        <td>{{pedido['data_envio']}}</td>
        <td>{{pedido['forma_de_envio']}}</td>
        <td>
          <a href="#">Editar</a>
          <a href="#">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}